### Django Build ###
*.c
*.out
*.pyc
*.pyo
*.log
*.pot
logs/
__pycache__/

### Django Settings ###
local_settings.py
django/local_settings.py
*.sqlite3
db.sqlite3
django/assets/

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Translations
*.mo

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# Sphinx documentation
utils/sphinx/_build/

### PyCharm ###
.idea/

### VsCode ###
.vscode/*
!.vscode/settings.json

# output_files
outputs/
